// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.fs-1{
  font-size:40px;
}
.fs-2{
  font-size:24px
}
.fs-3{
  font-size:18px;
}
.fs-4 {
  font-size:16px;
}
.fs-5{
  font-size:14px;
}
.fs-6{
  font-size: 8px;
}

$yellow : #efefef;

$yellow:(
  'background-color':"#efefef"
)

